.git
.local
**/.browser-build
**/.expo
**/.test-build
**/android
**/ios
**/dist
**/node_modules
**/deploy.tar.gz
**/*.apk
**/*.aab
**/*.ipa
**/*.jks
**/*.p8
**/credentials.json
npm-debug.log*
pnpm-debug.log*
